body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

html{
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span {
  color: white;
}
.about-text h4 {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.about-text p {
  color:black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.bio-link {
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.bio-link:hover {
  background: transparent;
  border: 2px solid #9a0b50;
  cursor: pointer;
  color: black;
}
button {
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background: transparent;
  border: 2px solid #9a0b50;
  cursor: pointer;
  color: black;
}

.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}
.row {
  padding: 40px 30px;
  background: gray;
  border-radius: 20px;
  transition: all 0.45s ease;
}
.row2{
  background: #eff6ff;
}
.main-row{
  flex-direction: column;
  text-align: center;
}
.main-row {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.row-img img {
  width: 100px;
  height: auto;
  max-width: 100%;
}
.row-text h6 {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
}
.row-text h3 {
  margin-bottom: 3rem;
  font-size: 26px;
  font-weight: 600;
  color: white;
}
.row-btn {
  display: inline-block;
  padding: 12px 22px;
  background: white;
  color: #9a0b50;
  font-size: 15px;
  border-radius: 30px;
  transition: all 0.45s ease;
}
.row-btn:hover {
  letter-spacing: 1px;
  color: white;
  background: #9a0b50;
}
.row2 {
  background: #9a0b50;
}
.row3 {
  background: #eff6ff;
}
.row:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.row-text h6 {
    margin-bottom: 5px;
  }
  .row-text h3 {
    margin-bottom: 1rem;
  }
.cta-text {
    margin-left: 55px;
}

/* NAVBAR CSS */
nav {
  right: -42%;
  top: 0%;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px ;
  transition: all 0.30s ease;
}
.logo{
  width: 300px;
  height: -100px;
}
.navbar {
  display: flex;
}
.navbar li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar li::after{
  content:'';
  height: 3px;
  width: 0;
  background: #9a0b50;
  position: absolute;
  left: 0;
  bottom: -20px;
  transition: 0.5s;
}

.navbar li:hover::after{
  width: 100%;

}


/* Footer section */
.contact {
  padding: 50px 11% 40px;
  background-color: black;
  list-style: none;
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(239px, auto));
  gap: 2rem;
}
.contact-content h5 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #ffffff;
}
.contact-content li {
  margin-bottom: 12px;
}
.contact-content li a {
  display: block;
  font-size: 15px;
  color: #00b0ea;
  font-weight: 400;
  transition: all 0.45s ease;
  text-decoration: none;
}
.contact-content li a:hover {
  color: black;
  transform: translateX(-5px);
}

.end-text p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color:white;
  margin-top: 5%;
}
.footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; }
.footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.footer-social-link li {
  display: inline-block; }
.footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #0000;
  margin-right: 5px;
  color: #fff; }
.footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
.footer-social-link a i.fa-twitter {
    background-color: #55ACEE; }
.footer-social-link a i.fa-linkedin {
    background-color: #0976B4; }
.footer-social-link a i.fa-instagram {
    background-color: #B7242A; }